<!DOCTYPE html>
<html lang="en">
        <!-- ## HEAD ## -->
        
        <%- include('partials/head', {title: products.name}) %>
        <!-- ## HEAD ## -->
<body>
        <!--  -->
        <%- include('partials/header'); %>
        <!--  -->
        <section class="detalle-producto">
                <div class="detalle-img">
                <img src="/images/products/<%=  products.image %>" alt="Foto de <%= products.name %>">
                </div>
                <div class="contenedor">
                <h2><%=  products.name %></h2>
                <ul class="lista">
                        <p class="lista"><%=  products.description %></p>                     
                        <p>$<%=  products.price %></p>
                </ul> 
                <div class="boton-comprar-detalle">
                        <button><a href="/products/cart">Añadir al Carrito</a></button>
                </div>
                <div class="boton-comprar-detalle">
                        <button><a href="/products/edit/<%= products.id %> ">Editar producto</a></button>
                </div>
                
                <form action="/products/delete/<%= products.id %>" method="POST" style="display: inline-flex">
                        <div class="boton-comprar-detalle">
                           <button type="submit">Eliminar</button>     
                        </div>
                        
                </form>
                </div>
        </section>
        <!-- ## footer ## -->
        <%- include('partials/footer') %>
        <!-- ## footer ## -->
</body>
</html>