<!DOCTYPE html>
<html lang="en">
        <!-- ## HEAD ## -->
        
        <%- include('partials/head', {title: product.name}) %>
        <!-- ## HEAD ## -->
<body>
        <!--  -->
        <%- include('partials/header'); %>
        <!--  -->
        <section class="detalle-producto">
                <div class="detalle-img">
                <img src="/images/products/<%=  product.image %>" alt="Foto de <%= product.name %>">
                </div>
                <div class="contenedor">
                <h2><%=  product.name %></h2>
                <ul class="lista">
                        <p class="lista"><%=  product.description %></p>                     
                        <p>$<%=  product.price %></p>
                </ul> 
                <div class="boton-comprar-detalle">
                        <button><a href="/products/cart">Añadir al Carrito</a></button>
                </div>
                <div class="boton-comprar-detalle">
                        <button><a href="/products/edit/id">Editar producto</a></button>
                </div>

                <form action="/products/delete/<%= product.id %>" method="POST" style="display: inline-flex">
                        <button type="submit" class="action-button delete">ELIMINAR</button>
                </form>
                </div>
        </section>
        <!-- ## footer ## -->
        <%- include('partials/footer') %>
        <!-- ## footer ## -->
</body>
</html>