<!DOCTYPE html>
<html lang="en">
        <!-- ## HEAD ## -->
        <%- include('partials/head') %>
        <!-- ## HEAD ## -->
<body>
    <main>
        <!-- ### HEADER ### -->
        <%- include('partials/header') %>
        <!-- ### HEADER ### -->

        <h2>Novedades</h2>
        <% for( let i = 0; i < nuevos.length; i++ ) { %>
        
            <div class="nov">
                <section class="productos-novedades">
                    <div class="novedades">
                        <a href="/products/detail/<%= nuevos[i].id  %>"><img src="img/products/<%= nuevos[i].image %>" alt="Imagen Bicicleta"></a>
                        <div class="detalle">
                            <div class="description"><h4><%= nuevos[i].name %></h4></div>
                            <div class="precio"><p>$<%= nuevos[i].price %></p></div>
                            <a href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </section>
            </div>
        <% } %>



        <!-- ## footer ## -->
        <%- include('partials/footer') %>
        <!-- ## footer ## -->
    </main>   
</body>
</html>