<!DOCTYPE html>
<html lang="en">
        <!-- ## HEAD ## -->
        <%- include('partials/head') %>
        <!-- ## HEAD ## -->
<body>
    <main>
        <!-- ### HEADER ### -->
        <%- include('partials/header') %>
        <!-- ### HEADER ### -->

        <h2>Novedades</h2>
        <% for( let i = 0; i < nuevos.length; i++ ) { %>
        
            <div class="nov">
                <section class="productos-novedades">
                    <div class="novedades">
                        <a href="/products/detail/<%= nuevos[i].id  %>" class="novedadesA"><img src="img/products/<%= nuevos[i].image %>" alt="Imagen Bicicleta"></a>
                        <div class="detalle">
                            <div class="name"><h4><%= nuevos[i].name %></h4></div>
                            <div class="description"><h4><%= nuevos[i].name %></h4></div>
                            <div class="precio"><p>$<%= nuevos[i].price %></p></div>
                            <section class="boton-comprar-detalle">
                                <button><a href="/products/cart">Añadir al Carrito</a></button>
                        </section>                        
                    </div>
                </section>
            </div>
        <% } %>



        <!-- ## footer ## -->
        <%- include('partials/footer') %>
        <!-- ## footer ## -->
    </main>   
</body>
</html>