<!DOCTYPE html>
<html>
        <!-- ## HEAD ## -->
        <%- include('partials/head') %>
        <!-- ## HEAD ## -->
    <body>
        <!-- ## header ## -->
        <%- include('partials/header') %>
        <!-- ## header ## -->

        <% for( let i = 0; i < sale.length; i++ ) { %>            
            <div class="productsAll">
                <section class="productos-novedades">
                    <div class="novedades">
                        <a href="/products/detail/<%= sale[i].id  %>"><img src="/img/products/<%= sale[i].image %>" alt="Imagen Bicicleta"></a>
                        <div class="detalle">
                            <div class="name"><h4><%= sale[i].name %></h4></div>
                            <div class="description"><p><%= sale[i].description %></p></div>
                            <div class="precio"><p><del> $<%= sale[i].price %></del></p></div>
                            <div class="discount">
                                <% let precioFinal = (sale[i].price) - ((sale[i].price * 10) / 100) %>
                               <p> Descuento: $<%= (sale[i].price * 10) / 100 %></p>  
                                <b> <p> Precio final: $<%= precioFinal %></p></b>
                            </div>
                            <section class="boton-comprar-detalle">
                                <button><a href="/products/cart">Añadir al Carrito</a></button>
                        </section>
                        </div>                        
                    </div>
                </section>           
            </div>
        <% } %>

        <!-- ## footer## -->
        <%- include('partials/footer') %>
        <!-- ## footer## -->
    </body>
</html>