<!DOCTYPE html>
<html lang="en">
<!-- ## HEAD ## -->
<%- include('partials/head') %>
    <!-- ## HEAD ## -->

    <body>
        <script src="/js/registerValidation.js"></script>
        <!-- ### HEADER ### -->
        <%- include('partials/header') %>
            <!-- ### HEADER ### -->

            <main class="register">
                <div class="errores">
                    <ul></ul>
                </div>
                <form id="form" action="/user/create" method="POST" enctype="multipart/form-data" class="register-form">
                    <div class="personal-info">
                        <input id="name" type="text" id="name" name="name" placeholder="Nombre"
                            class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.name : null %>">
                        <% if (locals.errors && errors.name) { %>
                            <div class="error-text" style="color: red;">
                                <%= errors.name.msg %>
                            </div>
                            <% } %>
                            <div class="errorName"></div>
                    </div>

                    <div class="personal-info">
                        <input id="lastName" type="text" name="lastName" placeholder="Apellido"
                            class="form-control <%= locals.errors && errors.lastName ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.lastName : null %>">
                        <% if (locals.errors && errors.lastName) { %>
                            <div class="error-text" style="color: red;">
                                <%= errors.lastName.msg %>
                            </div>
                            <% } %>
                            <div class="errorLName"></div>
                    </div>

                    <div class="personal-info">
                        <input id="email" type="email" name="email" placeholder="ejemplo@undostres.com"
                            class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.email : null %>">
                        <% if (locals.errors && errors.email) { %>
                            <div class="error-text" style="color: red;">
                                <%= errors.email.msg %>
                            </div>
                            <% } %>
                            <div class="errorEmail"></div>
                    </div>
                    <div class="password">
                        <div class="personal-info">
                            <input id="password" type="password" id="password" name="password"
                                placeholder="Creá tu contraseña"
                                class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                                value="<%= locals.oldData ? oldData.password : null %>">
                            <% if (locals.errors && errors.password) { %>
                                <div class="error-text" style="color: red;">
                                    <%= errors.password.msg %>
                                </div>
                                <% } %>
                                <div class="errorPassword"></div>
                        </div>
                    </div>
                    <div class="personal-info">
                        <input type="text" id="city" name="city" placeholder="Ciudad" class="form-control"
                            class="form-control <%= locals.errors && errors.city ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.city : null %>">
                        <% if (locals.errors && errors.city) { %>
                            <div class="error-text" style="color: red;">
                                <%= errors.city.msg %>
                            </div>
                            <% } %>
                            <div class="errorCity"></div>
                    </div>
                    <div class="personal-info">
                        <input type="text" id="address" name="address" placeholder="Dirección"
                            class="form-control <%= locals.errors && errors.address ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.address : null %>">
                        <% if (locals.errors && errors.address) { %>
                            <div class="error-text" style="color: red;">
                                <%= errors.address.msg %>
                            </div>
                            <% } %>
                            <div class="errorAddress"></div>
                    </div>
                    <div class="personal-info">
                        <input type="text" id="number" name="number" placeholder="Numero"
                            class="form-control <%= locals.errors && errors.number ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.number : null %>">
                        <% if (locals.errors && errors.number) { %>
                            <div class="error-text" style="color: red;">
                                <%= errors.number.msg %>
                            </div>
                            <% } %>
                            <div class="errorNumber"></div>
                    </div>
                    <div class="personal-info">
                        <input type="text" id="postal-code" name="postal_code" placeholder="Codigo Postal"
                            class="form-control <%= locals.errors && errors.postal_code ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.postal_code : null %>">
                        <% if (locals.errors && errors.postal_code) { %>
                            <div class="error-text" style="color: red;">
                                <%= errors.postal_code.msg %>
                            </div>
                            <% } %>
                            <div class="errorPostalCode"></div>
                    </div>

                    <div class="campo ">
                        <div class="tag">
                            <label for="description" id="avatar-load" class="form-label">Imagen de perfil:</label>
                            <input name="avatar" id="image" class="form-input" type="file">
                        </div>
                        <br>
                        <div class="form-control>  <%= locals.errors && errors.avatar ? 'is-invalid' : null %>"
                                value="<%= locals.oldData ? oldData.avatar : null %>">
                                    <% if (locals.errors && errors.avatar) { %>
                                        <div class="error-text" style="color: red;">
                                            <%= errors.avatar.msg %>
                                        </div>
                                        <% } %>
                                        
                        </div>
                    </div>
                    <div class="botones">
                        <input type="submit" value="Enviar" class="submit">
                        <p></p>
                        <input type="reset" value="Borrar">
                    </div>
                </form>
            </main>

            <!-- ## footer ## -->
            <%- include('partials/footer') %>
                <!-- ## footer ## -->

            
    </body>

</html>